@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* mapssss.html  */
#map {
  height: 87%;
}

/* index.html */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  text-decoration: none;
}

/* google maps */
#search {
  max-width: 100%;
  display:flex;
  flex: wrap;
  padding: 1% 40%;
}

/* Tasty.html */
.modal-card-foot {
  display: flex;
  justify-content: center;
}

#close {
  background-color: #3d9db2;
}

.modal-card-title::before {
  background-color: #3d9db2;
}
