@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* index.html */
#map {
  height: 90%;}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  text-decoration: none;
}

/* google maps */
#search {
  max-width: 100%;
  display:flex;
  flex: wrap;
  padding: 1% 40%;
}



/* .box {
	height: 800px;}
.box {
	width: 425px;}
.divScroll {
overflow-y: scroll;
height: 770px; */